# HW3 - Hypothesis Testing
### Nicholas Thomson

# Import the Dataset
This dataset was downloaded from: https://archive.ics.uci.edu/dataset/352/online+retail

The dataset goes over sales of a UK-based and registered non-store online retailm ranging 01/12/2010 and 09/12/2011. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

In [1]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\nick8\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.0.3)

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
online_retail = fetch_ucirepo(id=352) 
print(type(online_retail))
  
# data (as pandas dataframes) 
X = online_retail.data.features 
print(X.head())
y = online_retail.data.targets 
  
# metadata 
print(online_retail.metadata) 
  
# variable information 
print(online_retail.variables)

<class 'ucimlrepo.dotdict.dotdict'>
                           Description  Quantity     InvoiceDate  UnitPrice  \
0   WHITE HANGING HEART T-LIGHT HOLDER         6  12/1/2010 8:26       2.55
1                  WHITE METAL LANTERN         6  12/1/2010 8:26       3.39
2       CREAM CUPID HEARTS COAT HANGER         8  12/1/2010 8:26       2.75
3  KNITTED UNION FLAG HOT WATER BOTTLE         6  12/1/2010 8:26       3.39
4       RED WOOLLY HOTTIE WHITE HEART.         6  12/1/2010 8:26       3.39

   CustomerID         Country
0     17850.0  United Kingdom
1     17850.0  United Kingdom
2     17850.0  United Kingdom
3     17850.0  United Kingdom
4     17850.0  United Kingdom
{'uci_id': 352, 'name': 'Online Retail', 'repository_url': 'https://archive.ics.uci.edu/dataset/352/online+retail', 'data_url': 'https://archive.ics.uci.edu/static/public/352/data.csv', 'abstract': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.', 'area': 'Business', 'tasks': ['Classification', 'Clustering'], 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'], 'num_instances': 541909, 'num_features': 6, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': None, 'index_col': ['InvoiceNo', 'StockCode'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Fri Jan 05 2024', 'dataset_doi': '10.24432/C5BW33', 'creators': ['Daqing Chen'], 'intro_paper': {'title': 'Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining', 'authors': 'Daqing Chen, Sai Laing Sain, Kun Guo', 'published_in': 'Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3', 'year': 2012, 'url': 'https://www.semanticscholar.org/paper/e43a5a90fa33d419df42e485099f8f08badf2149', 'doi': '10.1057/dbm.2012.17'}, 'additional_info': {'summary': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. \nStockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.\nDescription: Product (item) name. Nominal.\nQuantity: The quantities of each product (item) per transaction. Numeric.\t\nInvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.\nUnitPrice: Unit price. Numeric, Product price per unit in sterling.\nCustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.\nCountry: Country name. Nominal, the name of the country where each customer resides. ", 'citation': None}}
          name     role         type demographic  \
0    InvoiceNo       ID  Categorical        None
1    StockCode       ID  Categorical        None
2  Description  Feature  Categorical        None
3     Quantity  Feature      Integer        None
4  InvoiceDate  Feature         Date        None
5    UnitPrice  Feature   Continuous        None
6   CustomerID  Feature  Categorical        None
7      Country  Feature  Categorical        None

                                         description     units missing_values
0  a 6-digit integral number uniquely assigned to...      None             no
1  a 5-digit integral number uniquely assigned to...      None             no
2                                       product name      None             no
3  the quantities of each product (item) per tran...      None             no
4  the day and time when each transaction was gen...      None             no
5                             product price per unit  sterling             no
6  a 5-digit integral number uniquely assigned to...      None             no
7  the name of the country where each customer re...      None             no

In [3]:
X["UnitPrice"].size # 541909
#X.size #3251454

541909

In [4]:
mylist = []
for i in range(X["UnitPrice"].size):
  up = X["UnitPrice"][i]
  q = X["Quantity"][i]
  mylist.append(up*q)

X.insert(6, "Money Spent", mylist, True)
X

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Money Spent
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

### One-Sample t-test
The one-sample t-test is used to compare the mean of a single sample to a known population mean or a hypothesized value.

I want to test whether the average amount spent in this online retail store is significantly different than my predicted value of $20.00

Null Hypothesis (H0): The average amount spent per transaction is equal to $20.00

Alternative Hypothesis (H1): The average amount spent per transaction is not equal to $20.00

In [5]:
import numpy as np
from scipy import stats

In [6]:
# Hypothesized mean
hypothesized_mean = 20

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(X['Money Spent'], hypothesized_mean)

# Print results
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: -3.910326786521914
p-value: 9.218255240610023e-05

Because the p-value is less than the chosen significance level of 0.05, we reject the null hypothesis and conclude that there is sufficient evidence to suggest that the average amount spent is significantly different from $20.

To test whether the average amount spent is significantly greater than $20, we need a one-tailed test.

Null Hypothesis (H0): The average amount spent is equal to $20.

Alternative Hypothesis (H1): The average amount spent is less than $20.

In [7]:
# Perform one-sample one-tailed t-test (greater than)
t_statistic, p_value = stats.ttest_1samp(X['Money Spent'], hypothesized_mean, alternative='less')

# Print results
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: -3.910326786521914
p-value: 4.609127620305011e-05

Because the p-value is smaller than the chosen significance level of 0.05, we reject the null hypothesis and conclude that there is sufficient evidence to suggest that the average money spent is less than $20.

In [8]:
X.describe()

            Quantity      UnitPrice     CustomerID    Money Spent
count  541909.000000  541909.000000  406829.000000  541909.000000
mean        9.552250       4.611114   15287.690570      17.987795
std       218.081158      96.759853    1713.600303     378.810824
min    -80995.000000  -11062.060000   12346.000000 -168469.600000
25%         1.000000       1.250000   13953.000000       3.400000
50%         3.000000       2.080000   15152.000000       9.750000
75%        10.000000       4.130000   16791.000000      17.400000
max     80995.000000   38970.000000   18287.000000  168469.600000